version: "3.9"

services:
  gateway:
    build: ./gateway
    ports:
      - "8080:80"
    depends_on:
      - backend
      - frontend
    networks:
      - appnet

  frontend:
    build: ./frontend
    networks:
      - appnet

  backend:
    build: ./backend
    environment:
      - MONGO_URI_FILE=/run/secrets/mongo_uri
      - REDIS_URL=redis://redis:6379
    secrets:
      - mongo_uri
    depends_on:
      - db
      - redis
    networks:
      - appnet

  redis:
    image: redis:7-alpine
    networks:
      - appnet

  db:
    image: mongo:6
    volumes:
      - mongodata:/data/db
    networks:
      - appnet

networks:
  appnet:

volumes:
  mongodata:

secrets:
  mongo_uri:
    file: ./secrets/mongo_uri.txt
